<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/coches">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Coche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Nombre" #nombre></ion-input>
          <ion-input type="text" placeholder="http://sitiopruebaimagen.com" #imageURL></ion-input>
          <ion-button color="primary" (click)="NewCoche(nombre,imageURL)">Guardar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<app-ejemplo></app-ejemplo>
